<% if activity.trackable.present? %>
 	<div class="activity-comment">
 	  <div class="info">
     	<%= render 'shared/avatar', user: activity.owner %>
 	    <h4 class="name">
 	    <% if activity.owner.sex == "female" %>
    		Η <%= activity.owner.name %>
    	<% else %>
 	      Ο <%= activity.owner.name %>
 	    <% end %></h4>
 	    <span class="action">σχολίασε μία <%= link_to 'δημοσίευση', activity.trackable.commentable %></span>
 	  </div>
 	  <div class="content">
 	    <h4><small><%= activity.trackable.comment %></small></h4>
 	  </div>
 	 	<%= render 'shared/created_at', activity: activity %>
 	</div>
<% else %>
 	<div></div>
<% end %> 